body {
  font-family: 'Muli';
  background-color: #DFEDEF;
  color:#3D546C
;
  font-size: 20px;
  text-decoration: none;
}
/* my home-banner is my first background image in the first page */
#home-banner{
  position: relative;
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* changeBackground is my arrow button to change background on the homepag*/

#changeBackground{
  position: absolute;
  top: 1%;
  right: 5%;
  float: right;
  font-size: 100px;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #D4E6F1;
  margin-top : 400px;
}

#myname{
  position: absolute;
  top: 40%;
  left: calc(50% - 150px);
  left: 42%;

}

#myname{ /* Anissa Arakal top heading homepage*/
  color: #FA9083;
  font-family: 'Arapey', serif;
  font-size:70px;
  text-align: center;
}
h2{
  color:#3D546C;
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
  text-align: center;
}
ul {
  list-style: none;
  white-space: nowrap;
}

#nav {
  position: absolute;
  top: 0;
}

a:link, a:visited {
 color:#3D546C;
}
a:hover {
    color: #993299;
}

#nav li { /*top of page tabs to link to new parts of page*/
  float:left;
  overflow: hidden;
  padding: 20px;
  padding-left: 65px;
  padding-right: 65px;
  border-top: : 100px;
  border-top-color: #667886;
  border-top-style: double;
  border-bottom: : 100px;
  border-bottom-color: #667886;
  border-bottom-style: double;
  background-color: #93ACC0;
  max-width: 150px;
  margin: 5px;
  font-size: 20;
  margin-top: 1;


}

p {
}

#biography {
  margin-top: 500px;
  text-shadow: 30px;
}

#funfacts{
  margin-top: 300px;
  text-shadow: 30px;
}
#likesanddislikes{
  margin-top: 300px;
  text-shadow: 30px;
}

#favoritewebpage {
  margin-top: 300px;
  text-shadow: 30px;
}

#scratchgame {
  margin-top: 300px;
  text-shadow: 30px;
}

#sistersPic{
  height: 304px;
   width: 228px;
   margin-left: 100px;
   margin-right: 75px;
   margin-top: 50px;
   border: 15px #93ACC0 double;
}
#teddyPic{
  height: 305px;
   width: 305px;
  margin-right: 75px;
   border: 15px #93ACC0 double;
  margin-top: 50px;
}
#familyPic{
  width:406px;
   margin-right: 75px;
  height: 304px;
  border: 15px #93ACC0 double;
  margin-top: 50px;

}
#skyline{
  width:1405px;
  height: 146px;
  margin-top: 50px;
}

#XClegs{
  width:233px;
  height: 174px;
  border: 15px #93ACC0 double;
  margin-right: 100px;
  margin-top: :300px;
}
